<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cybex.walletmanagement">

    <application
        android:name=".runalone.WalletManagementApplication"
        android:allowBackup="true"
        android:label="@string/walletmanage_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".runalone.ui.WalletManagementMainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.MnemonicBackupGuideActivity">

        </activity>

        <activity android:name=".ui.activity.MnemonicShowActivity">

        </activity>


        <activity android:name=".ui.activity.MnemonicVerifyActivity">

        </activity>

        <activity android:name=".ui.activity.CreateMnemonicWalletActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ImportWalletGuideActivity">

        </activity>

        <activity android:name=".ui.activity.ImportWalletActivity">

        </activity>

        <activity android:name=".ui.activity.BarcodeScanActivity">

        </activity>

        <!--头条屏幕适配方案-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

    </application>

</manifest>